.nav-container {
  background-color: $color-grey-light-1;
  margin: -10px;
  padding: 10px 5px;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;

  &__left {
    display: flex;
    align-items: center;
    flex: 0 0 40%;
    font-family: "Lato";

    & > * {
      margin: 0 10px;
    }

    & > *:not(.nav__left__hamburger):not(.nav__left__mobile-search) {
      @media only screen and (max-width: $bp-medium) {
        display: none;
      }
    }

    &__hamburger {
      display: none;
      color: $color-grey-dark-2;
      font-size: 1em;
      margin-left: 20px;
      z-index: 100;
      svg {
        cursor: pointer;
      }

      @media only screen and (max-width: $bp-medium) {
        display: block;
      }
    }

    &__logo {
      width: 55px;
      height: 55px;
    }

    &__list {
      display: flex;
      list-style: none;

      &__item {
        color: $color-grey-dark-1;
        margin: 0 20px;
        font-size: 18px;
        font-weight: 600;
      }
    }
  }

  &__right {
    display: flex;
    align-items: center;
    flex: 1;
    padding-right: 20px;

    &__search {
      display: flex;
      align-items: center;
      position: relative;
      width: 100%;

      &__input {
        background-color: white;
        border: solid 1px $color-grey-light-2;
        padding: 0.7rem 2rem;
        border-radius: 10px;
        width: 100%;

        &::-webkit-input-placeholder {
          font-weight: 100;
          color: $color-grey-light-2;
          font-weight: bold;
        }
      }

      &__input:focus + &__button {
        background-color: $color-grey-light-1;
      }

      &__button {
        border: none;
        background-color: white;
        position: absolute;
        right: 10px;

        &:focus {
          outline: none;
        }

        &:active {
          transform: translateY(2px);
        }
      }

      &__icon {
        height: 2rem;
        width: 2rem;
        fill: $color-grey-dark-2;
      }
    }

    &__cart {
      margin-left: 20px;
      font-size: 1.2em;
      position: relative;
      color: $color-grey-dark-2;

      &__count {
        position: absolute;
        bottom: 18px;
        left: 10px;
        color: white;
        background-color: $color-primary;
        border-radius: 50%;
        padding: 2px 10px;
      }
    }
  }
}

.nav-menu {
  background-color: #0e0545;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -120%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-menu-items {
  width: 100%;
  list-style: none;
  padding: 0;

  &__header {
    font-size: 30px !important;
    font-weight: bold;
    padding: 0 10px 10px;
    border-bottom: solid 1px $color-grey-light-2;
    margin-bottom: 30px;
  }

  & li {
    padding: 10px 20px;
    font-size: 18px;
    color: $color-grey-light-1;
    font-weight: bold;
  }
}

.cancel {
  position: absolute;
  right: 20px;
  font-size: 20px;
  top: 10px;
  background: none;
  color: white;
  list-style: none;
}

.dropdown {
  cursor: pointer;
}
